body{
    background: #ade5f5;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sportcar-animation{
        display: inline-block;
        position: relative;
        border-radius: 50%;
        left: 0;
        animation-name: sport-car;
        animation-duration: 2.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        animation-direction: normal;
}
.animation{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    left: 0;
    animation-name: sport-car;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse;
}
@keyframes sport-car{
    0%{
        left: 0%;
    }
    50%{
        border-radius: 0%;
    }
    100%{
        left: 50%;
    }
}

@keyframes carbiolet{
    0%{
        right: 0%;
    }
    50%{
        border-radius: 0%;
    }
    100%{
        left: 50%;
    }
}
.animation img{
    width:200px;
    vertical-align: middle;
}
.sportcar-animation img{
    width: 200px;
    vertical-align: middle;
}
