body{
    background: #ade5f5;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sportcar-animation{
    display: inline-block;
    animation-name: sport-car;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes sport-car{
    0%{
        left: 0;
    }
    50%{

    }
    100%{
        left: 500px;
    }
}