body{
    background: #ade5f5;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 15px;
    position: relative;
    transition: all 0.5s 0.9s linear;    
}
.box:hover {
    width: 300px;
    background-color: red;
} 
.box img{
    width:100%;
    height: 100%;    
}
.animation{
    width:100px;;
    height: 100px;
    position: absolute;
    animation-name: moveBox;
    animation-duration: 3s;
    /* animation-delay: 0.3s; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moveBox {
    0%{
        top:10px;
        left:10px;
        /* border-radius: 0px; */
        background-color: blue;
    }
    50% {
        top:200px;
        left:200px;
        /* border-radius: 50%; */
        background-color: rgb(255, 174, 0);
    }
    100% {
        top:400px;
        left:400px;
        transform: rotate(-70deg);
        background-color: rgb(255, 174, 0);
    }
}
.cabriolet-animation{
  /*  background-image: url('./images/\ cabriolet.png');
    background-size: cover;
    position: absolute;
    animation-name: bgAnimation;
    animation-duration: 3s;
    /* animation-delay: 0.3s; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
    /* transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 0.9s;
    transition-timing-function: linear ;  */
}
@keyframes bgAnimation {
    0%{
        top:10px;
        right:10px;
        border-radius: 0px;
        width: 300px;
        height: 300px;
    
    }
    50% {
        top:200px;
        right:200px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        
    }
    100% {
        top:400px;
        right:400px;
        transform: rotate(-70deg);
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }
}